/* Container */
    .container{
        width:100%;
        margin:0 auto;
    }
    .fv_selects_wrapper {
        font-size:11px;
        font-weight:bold;
        border:solid 1px #000;
        border-radius:3px;
        max-width:800px;
        padding:10px;

    }
    .fv_select_row {
        max-width:700px;

    }
    .fv_select {
        -border:solid 1px red;
    }
    .fv_select_label {
        margin-top:5px;
        margin-bottom:5px;
    }
    .fv_filterButton_wrapper {
        padding-top:25px;
    }
    .fv_filterButton {
        padding:15px;
        margin:20px,;
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #181b26;
        color: white;
        text-align: center;
    }
  .controlWrapper {
      width:100%;
  }
  .playerFrame {
      width:100%;
      height:800px;
      margin-top:20px;
      border:none;
    
  }
  .fv_block {
      display:block !important;
      width:250px !important;
  }
  .controlsTable td {
  padding:10px; 
  font-size:14px;
  font-weight:bold;
  }
  .fv_heading {
      background-color: #181b26 !important;
      color:#dfd8c9 !important;
      font-size:28px !important;
      margin:0px !important;
      padding:5px 10px !important; 
  }

    /* Login */
    .div_login{
        border: 1px solid gray;
        border-radius: 3px;
        width: 470px;
        -height: 270px;
        box-shadow: 0px 2px 2px 0px  gray;
        margin: 0 auto;
    }

    .div_login h1{
        margin-top: 0px;
        font-weight: normal;
        padding: 10px;
        background-color: cornflowerblue;
        color: white;
        font-family: sans-serif;
    }

    .div_login div{
        clear: both;
        margin-top: 10px;
        padding: 5px;
    }
    .loginMsg {
        width:70%;
        margin-left: auto;
        margin-right: auto;
        text-align:left;
        padding:15px!important;
        font-weight:bold;
        background-color: #fff;
        border: thin solid #000;
        border-radius: 5px;
        -moz-border-radius: 5px
    }
    .loginMsg_error {
        color: red;
    } 
    .loginMsg_success {
        color: green;
    }    
    .textbox{
        width: 96%;
        padding: 7px;
    }

    .login input[type=submit]{
        padding: 7px;
        width: 100px;
        background-color: lightseagreen;
        border: 0px;
        color: white;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .loginLink {
        padding-right:15px;
        padding-bottom:15px;
    }
    .audioDescription {
        width:95%;
        background-color: #EEE;
        border: thin solid #336;
        border-radius: 5px;
        -moz-border-radius: 5px;
        font-style: italic;
        font-size:14px;
        padding: 0px 10px 15px 10px;
        margin-left:25px;   
        text-align:left;
        -display:none;
    }
    div.descriptor {
        background-color: #fff;
        border: thin solid #000;
        width: 32%;
        border-radius: 5px;
        -moz-border-radius: 5px
        font-style: italic;
        font-size:12px;
        color:#000;
        padding: 10px;
        margin:1px;   
        text-align:left;   
    }
    div.selectors {
        color:#fff;
        font-size:15px;
        text-align:right;
        float:right;
        overflow:visible;
    }
    .fvp_panel {
        padding: 5px 15px !important;
    }
    div.descriptionLabel{
        color:#000;
        font-size:15px; 
        width: 100%;
        text-align:left;
        margin-bottom:7px;
        font-weight:bold;
    }
    span.select_label {
        margin:10px;
    }
    span.update_button {
       margin-left:10px; 
    }
    i.descriptor-icon {
        font-size: 20px;
        margin-right: 15px;
        display:block;
        float:left;
    }
    i.descriptor-icon_professional {
        color: #87041D;
    }
    i.descriptor-icon_cultural {
        color: #04870D;
    }
    i.descriptor-icon_linguistic {
        color: #042D87;
    }